.header {
  background-color: var(--color-accent);
  display: flex;
  height: 65px;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding-inline: clamp(1rem, 6vw, 1.5rem);
  width: 100%;
}

.logo {
  color: var(--color-bg);
  font-size: 1.5rem;
  font-weight: 700;
}
.logo:hover {
  color: rgb(243, 235, 6);
}
