:root {
  --color-primary: #61dafb;
  --color-bg: darkblue;
  --color-text: blanchedalmond;
  --color-accent: orange;
  --radius: 8px;
  --spacer: 2rem;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app {
  background-color: var(--color-bg);
  color: blanchedalmond;
  flex-direction: column;
  line-height: 1.3;
  position: relative;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin-inline: auto;
  padding-inline: clamp(1rem, 6vw, 1.5rem);
}

h1 {
  color: var(--color-accent);
  font-size: 2rem;
  margin: 1rem 0;
  text-align: center;
}

p {
  line-height: 1.4;
  margin-bottom: 1rem;
  max-width: 66ch;
}
h2 {
  text-align: center;
}
ul {
  list-style: none;
}

.bulleted {
  list-style: disc;
  margin-left: 1rem;
}
li {
  margin-bottom: 0.25rem;
}
a {
  color: var(--color-bg);
  line-height: 1.1;
  text-decoration: none;
}
a:hover,
a:focus {
  color: rgb(243, 235, 6);
}

/*   Utility Classes   */
.align-left {
  align-self: start;
}

.flow > * {
  margin-bottom: var(--spacer, 1rem);
}

form,
.checkGrid,
.message {
  margin-bottom: 1rem;
}

.checkGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: space-between;
  /* gap: 1rem;
  grid-template-columns: 135px 135px;
  place-content: center; */
}

.form_group {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
label {
  color: var(--color-accent);
  font-size: 0.825rem;
  font-weight: 700;
  line-height: 0.8;
  text-transform: uppercase;
}
input {
  background-color: var(--color-text);
  border: 1px solid var(--color-text);
  border-radius: var(--radius);
  color: var(--color-bg);
  display: block;
  margin-right: 10px;
  margin-top: 0.5rem;
  max-width: 130px;
  padding: 0.5rem;
}
#calculate {
  display: flex;
  justify-content: center;
}
.message {
  text-align: center;
}
.reset {
  background-color: var(--color-bg);
  border: 2px solid var(--color-accent);
  border-radius: var(--radius);
  color: var(--color-accent);
  font-size: 1rem;
  font-weight: 700;
  margin-right: 5px;
  padding: 0.5rem 1rem;
}

/* Animation */
#header {
  height: 100px;
  margin-bottom: var(--spacer);
}

.header-home {
  background-color: var(--color-accent);
  color: var(--color-bg);
  font-size: 2.5rem;
  margin: 0;
  position: absolute;
  width: 100%;
}

.rise {
  animation-name: rise;
  animation-delay: 0.5s;
  animation-duration: 1s;
  padding-block: 3vh;
  top: 35vh;
}
.fade-out {
  animation-name: fade-out;
  animation-delay: 1s;
  animation-duration: 1s;
}

.fade-in {
  animation-name: fade-in;
  animation-delay: 1.5s;
  animation-duration: 0.5s;
  font-size: 0.1rem;
  opacity: 0;
}

.add-last {
  animation-name: add-last;
  animation-delay: 1.5s;
  opacity: 0;
}

.rise,
.fade-in,
.fade-out,
.add-last {
  animation-fill-mode: forwards;
}

@keyframes rise {
  0% {
    font-size: 2.5rem;
    top: 35vh;
  }
  100% {
    font-size: 2rem;
    top: 0;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
    margin-left: calc(50vw - 7.75rem);
  }
  100% {
    margin-left: 0;
    opacity: 0;
    font-size: 0.1rem;
  }
}

@keyframes fade-in {
  0% {
    font-size: 0.1rem;
    opacity: 0;
  }
  100% {
    font-size: 2rem;
    opacity: 1;
  }
}

@keyframes add-last {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
